*{
    text-align: center;
    font-family: 'Bodoni Moda', serif;
}

h2, h3 {
    color: slateblue;
    text-decoration: overline;
}


@media screen and (mid-width:100px){
    body{
        background-color: rgb(238, 251, 248); 
     }         
}

/*make a border around each section*/
section{
    align-self: center;
    border-style: solid;
    border-width: 0.3vw;
    border-color: rgba(148, 116, 255, 0.9);
    border-radius: 2px;
    /*box model*/
    height: 110%;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 65px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
}

li {
    display: inline;
}

span {
    display: block; 
}

canvas {
    color: #3cb371
}

a:active {
    color: #FF2
}

a:hover {
    color: hsl(300, 76%, 72%);
}

#relax {
    height: 30em;
    max-width: 200%;
    min-width: 10%;
}

img[alt="Welcome Cat"]{
    position:absolute;
    top:0.5cm;
    left:5mm;
}

video {
    position: relative;
    left: 20rem;
}

.smile{
    background-color: hsla(9, 100%, 64%, 0.2);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 10px 20px;
    padding: 10px 5px;
}

table{
    display: grid;
    justify-items: center;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 10px 50px 50px 50px;
    grid-template-areas: 
        "header header header";
}

.he{
    grid-area: header;
}
